@model UserService.Models.LoginUserModel
<img class="logo-image__lanit-tercom" src="~/assets/logo-lanit-tercom.png" alt="Lanit-Tercom logo">
<img class="logo-image__user-icon" src="~/assets/user-icon.png" alt="User icon">

<form asp-controller="Account" asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div>
        <input class="login-form__input-field" asp-for="Email" placeholder="Email"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="login-form__password-input" >
        <input class="login-form__input-field" asp-for="Password" placeholder="Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <button type="submit" class="submit__submit-button">Login</button>
    </div>
</form>