<mat-sidenav class="sidebar">
  <div class="user">
    <img class="logo-image__user-icon" src="../../../assets/user-icon.png">
    <h1>Имя Фамилия</h1>
    <h2>Должность</h2>
  </div>

  <img class="logo-image__lanit-tercom" src="../../../assets/logo-lanit-tercom.png">
</mat-sidenav>

<mat-expansion-panel class="map-list">
  <mat-expansion-panel-header>
    Чернышевская
  </mat-expansion-panel-header>

  <p>Этаж 2</p>

  <mat-action-row>
    <p>Этаж 2</p>
    <p>Этаж 3</p>
    <p>Этаж 4</p>
  </mat-action-row>
</mat-expansion-panel>
