.sidebar {
  position: absolute;
  width: 256px;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.18);
}

.logo-image {
  &__lanit-tercom {
    position: absolute;
    display: block;
    margin: auto;
    padding: 1em;
    width: 100px;
    left: 65px;
    bottom: 20px;
  }
  &__user-icon
  {
    position: absolute;
    display: block;
    margin: auto;
    padding: 1em;
    width: 42px;
    left: 25px;
  }
}

.user {
  position: absolute;
  width: 256px;
  height: 65px;
  left: 0px;
  top: 0px;
  background: #009EDE;
}

.user h1 {
  position: absolute;
  left: 35.29%;
  right: 19.12%;
  top: 10%;
  bottom: 67.74%;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
}

.user h2 {
  position: absolute;
  left: 35.29%;
  right: 27.45%;
  top: 35.48%;
  bottom: 32.26%;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.map-list {
  position: absolute;
  width: 256px;
  top: 65px;
  background: #FFFFFF;
}
