.imageLogo {
  display: block;
  margin: auto;
  padding: 1em;
}
.inputField{
  display: block;
  width: 20%;
  padding: 10px 10px;
  margin: 20px auto;
  box-sizing: border-box;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  color: #575757;
  font-size: 17px;
  font-family: system-ui;
}
::placeholder {
  color: #B0B0B0;
}
.inputError{
  display: block;
  width: 20%;
  margin: auto;
  color: #FF0000;
  font-size: 15px;
  font-family: system-ui;
}
.submitButton {
  display: block;
  width: 20%;
  padding: 10px 10px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #35ABDB;
  cursor: pointer;
  font-size: 17px;
  font-family: system-ui;
}
