body {
  font-family: system-ui;
}
.logo-image {
  display: block;
  margin: auto;
  padding: 1em;
}
.login-form__input-field {
  display: block;
  width: 330px;
  padding: 10px 10px;
  margin: 20px auto;
  box-sizing: border-box;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  color: #575757;
  font-size: 17px;
}
::placeholder {
  color: #B0B0B0;
}
:required {
  border: 1px solid #FF0000;
}
.login-form__password-input {
  position: relative;
  margin: auto;
  width: 330px;
}
.login-form__show-hide-button {
  position: absolute;
  top: 11px;
  right: 4px;
  border: none;
  height: 20px;
  width: 40px;
  outline: none;
  margin: auto;
  text-align: center;
  padding: 2px;
  background-color: transparent;
}
.login-form__show-hide-button:hover {
  cursor: pointer;
}
.login-form__error {
  display: block;
  width: 330px;
  margin: auto;
  color: #FF0000;
  font-size: 15px;
}
.submit__submit-button {
  display: block;
  width: 330px;
  padding: 10px 10px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #35ABDB;
  cursor: pointer;
  font-size: 17px;
}
