<html>
<head>
  <title></title>
</head>

<body>


<img class="imageLogo" src="../../assets/logo-lanit-tercom.png" alt="Lanit-Tercom logo" width="30%">
<img class="imageLogo" src="../../assets/user-icon.png" alt="User icon" width="15%">
<form [formGroup]="loginForm">
  <div>
    <label>
      <input class="inputField" type="text" formControlName="username"/>
    </label>
    <div class="inputError" *ngIf="isControlInvalid('username')">
      Field cannot be empty
    </div>
  </div>
  <div>
    <label>
      <input class="inputField" type="password" formControlName="password"/>
    </label>
    <div class="inputError" *ngIf="isControlInvalid('password')">
      Field cannot be empty
    </div>
  </div>
  <div>
    <button class="submitButton" type="submit">Log in</button>
  </div>
</form>

</body>
</html>
