body {
  font-family: system-ui;
}
.imageLogo {
  display: block;
  margin: auto;
  padding: 1em;
}
.inputField {
  display: block;
  width: 20%;
  padding: 10px 10px;
  margin: 20px auto;
  box-sizing: border-box;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  color: #575757;
  font-size: 17px;
}
::placeholder {
  color: #B0B0B0;
}
:required {
  border: 1px solid #FF0000;
}
.buttonInside {
  position: relative;
}
.showHideButton {
  position: absolute;
  top: 6px;
  left: 57%;
  border: none;
  height: 20px;
  width: 40px;
  outline: none;
  margin: auto;
  text-align: center;
  padding: 2px;
  background-color: transparent;
}
.showHideButton:hover {
  cursor: pointer;
}
.inputError {
  display: block;
  width: 20%;
  margin: auto;
  color: #FF0000;
  font-size: 15px;
}
.submitButton {
  display: block;
  width: 20%;
  padding: 10px 10px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #35ABDB;
  cursor: pointer;
  font-size: 17px;
}
