.toolbar {
  display: -webkit-inline-flex;
  display: inline-flex;
  flex-direction: row-reverse;
  position: absolute;
  width: 100%;
  height: 65px;
  top: 0px;
  background: #009EDF;
}

.toolbar a {
  text-align: center;
  padding: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  border-radius: 0px;
  text-decoration: none;
  color: #FFFFFF;
}

.toolbar a:hover {
  background-color: #ddd;
  color: black;
  height: 5px;
}
