@import "../../../colors";

.toolbar {
  display: inline-flex;
  flex-direction: row-reverse;
  position: absolute;
  width: 100%;
  height: 65px;
  background: $blue-main;
}

.link {
  text-align: center;
  padding: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 8px;
  text-decoration: none;
  color: white;
}
:hover {
  background-color: $light-grey;
  color: black;
  height: 65px;
}

.search-bar {
  display: inline-flex;
  flex-direction: row-reverse;
  position: absolute;
  width: 100%;
  height: 65px;
  top: 65px;
}
:hover {
  background-color: $light-grey;
  color: black;
  height: 65px;
}
