.floor {
  fill: #FFFFFF;
  stroke: #777777;
  stroke-width: 4;
  stroke-linejoin: round;
}

.meetingroom {
  fill: #FFFFFF;
  stroke: #777777;
  stroke-width: 4;
  stroke-linejoin: round;
}

.meetingroom:hover {
  fill:#c4bcc4;
}

.covorking {
  fill: #FFFFFF;
  stroke: #777777;
  stroke-width: 4;
  stroke-linejoin: round;
}

.covorking:hover {
  fill:#fce388;
}

.other:hover {
  fill:#b1e6fc;
}

.workplace {
  fill: #FFFFFF;
  stroke: #777777;
  stroke-width: 4;
  stroke-linejoin: round;
}

.workplace:hover {
  fill:#FF3D00;
}
