<html>
<head>
  <title></title>
</head>

<body>
<img class="logo-image__lanit-tercom" src="../../assets/logo-lanit-tercom.png" alt="Lanit-Tercom logo">
<img class="logo-image__user-icon" src="../../assets/user-icon.png" alt="User icon">

<form [formGroup]="loginForm" class="login-form">
  <div class="login-form__input">
    <label>
      <input class=login-form__input-field [ngClass]="{'required': isControlInvalid('username')}" type="text" formControlName="username" placeholder="Username"/>
    </label>
    <div class="login-form__error" *ngIf="isControlInvalid('username')">
      Field cannot be empty
    </div>
  </div>
  <div class="login-form__password-input">
    <label>
      <input class=login-form__input-field [ngClass]="{'required': isControlInvalid('password')}" [type]="isVisible ? 'text' : 'password'" formControlName="password" placeholder="Password">
      <button class="login-form__show-hide-button" (click)="showHidePassword()">
        <img class="eye-image" [src]="isVisible ? '../../assets/eye-close.svg' : '../../assets/eye-open.svg'" alt="Eye">
      </button>
    </label>
    <div class="login-form__error" *ngIf="isControlInvalid('password')">
      Field cannot be empty
    </div>
  </div>
  <div class="submit">
    <button class="submit__submit-button" type="submit">Log in</button>
  </div>
</form>

</body>
</html>